<div class="modal-body">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= form_for([@contact, @phone]) do |f| %>
    <p>
      <%= f.label :phone_number %><br>
      <%= f.text_field :nphone, required: true, pattern: '([0][3,8][1][1-9])\w+' %>
    </p>
    <p>
      <%= f.label :type %><br>
      <%= f.select :status, options_for_select([["Home"],["Fax"],["Mobile"]]) %>
    </p>
    <div class="modal-footer">
      <%= f.submit class: "btn btn-success" %>
      <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="window.location.href='/contacts/<%= @contact.id %>/phones'">Close</button>
    </div>
    <% end %>
</div>