<%= form_for([@contact, @contact.phones.build]) do |f| %>
  <p>
    <%= f.label :phone_number %><br>
    <%= f.text_field :nphone %>
  </p>
  <p>
    <%= f.label :type %><br>
    <%= f.select :status, options_for_select([["Home"],["Fax"],["Mobile"]]) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>