<%= form_for([@contact, @phone]) do |f| %>
  <p>
    <%= f.label :phone_number %><br>
    <%= f.number_field :nphone, required: true %>
  </p>
  <p>
    <%= f.label :type %><br>
    <%= f.select :status, options_for_select([["Home"],["Fax"],["Mobile"]]) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>