<%= render 'phonebook/header' %>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= render 'phones/viewphone'%>

<button type="button" class="btn btn-info" onclick="new_phone()">Add Phone</button>

<%= link_to "<button class='btn btn-danger'>Back</button>".html_safe, contacts_path , :class => 'button', :id => 'button7' %>

<div id="show_form">

</div>

<script>
	function new_phone(){
		$.get("<%= new_contact_phone_path %>",{},null,"script");
	}

	function edit_phone(id){
		$.get("/contacts/<%= @contact.id %>/phones/"+id+"/edit",{},null,"script");
	}
</script>