<div class="login">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h1><a href="/">Phonebook </a></h1>
    <div class="login-bottom">
      <h2>Register</h2>
      <%= devise_error_messages! %>

      <div class="col-md-6">
        <div class="login-mail">
          <%= f.email_field :email, type:"text", autofocus: true, placeholder:'Email', id:'email'%>
          <i class="fa fa-envelope"></i>
        </div>
        <div class="login-mail">
          <%= f.password_field :password, autocomplete: "off", placeholder:'Password', id:'pwd' %>
          <i class="fa fa-lock"></i>
        </div>
        <div class="login-mail">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:'Repeated Password', id:'pwd_confirm' %>
          <i class="fa fa-lock"></i>
        </div>
        <p>Admin</p>
        <%= f.radio_button :admin, true %> Yes
        <%= f.radio_button :admin, false %> No
      </div>
      <div class="col-md-6 login-do">
        <label class="hvr-shutter-in-horizontal login-sub">
          <input type="submit" value="Submit">
          </label>
          <p>Already register</p>
        <a href="/users/sign_in" class="hvr-shutter-in-horizontal">Login</a>
      </div>
      <div class="clearfix"> </div>
    </div>
    <% end %>
  </div>