<%= form_for @contact do |f| %>

  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@contact.errors.count, "error") %> prohibited
        this contact from being saved:
      </h2>
      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %><br>

    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", minlength: 6, maxlength:25 %><br>

    <%= f.submit class: "btn btn-success" %>
    <%= link_to "<button class='btn btn-danger'>Back</button>".html_safe, contacts_path, :class => 'button', :id => 'button3' %>
  </div>
<% end %>