<%= render 'phonebook/header' %>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1>Listing Contacts</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td> <%= image_tag contact.avatar.url(:thumb) %> <%= contact.name %></td>
          <td><%= link_to "<button class='btn btn-success'>Add Phone</button>".html_safe, contact_phones_path(contact), :class => 'button', :id => 'button4' %>

          <%= link_to "<button class='btn btn-success'>Add Address</button>".html_safe, contact_alamats_path(contact), :class => 'button', :id => 'button10' %>

          <% if can? :edit, contact %>
          <%= link_to "<button class='btn btn-primary'>Edit</button>".html_safe, edit_contact_path(contact), :class => 'button', :id => 'button5' %>
          <% end %>

          <% if can? :destroy, contact %>
          <%= link_to "<button class='btn btn-danger'>Destroy</button>".html_safe, contact_path(contact),
            method: :delete,
            data: { confirm: 'Are you sure?' }, :class => 'button', :id => 'button6' %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
<%= link_to "<button class='btn btn-info'>New contact</button>".html_safe, new_contact_path, :class => 'button', :id => 'button2' %>
</div>

<div align="center">
<%= paginate @contacts %>
</div>