<%= render 'phonebook/header' %>

<h1>Name: <%= @contact.name %> </h1>

<h3>Phones</h3>
<%= render 'phones/viewphone'%>

<h4>Add a Phone Number:</h4>
<%= render 'phones/form' %>

<h3>Address</h3>
<%= render 'alamats/viewalamat'%>

<h4>Add a Address:</h4>
<%= render 'alamats/form' %>

<%= link_to "<button>Edit</button>".html_safe, edit_contact_path(@contact), :class => 'button', :id => 'button5' %>
<%= link_to "<button>Back</button>".html_safe, contacts_path, :class => 'button', :id => 'button5' %>