<div class="modal-body">

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %> 

<%= form_for([@contact, @alamat]) do |f| %>

<% if @alamat.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@alamat.errors.count, "error") %> prohibited
        this address from being saved:
      </h2>
      <ul>
        <% @alamat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :Address %><br>
    <%= f.text_field :address, required: true, minlength: 15, maxlength:30 %>
  </p>
  <div class="modal-footer">
	<%= f.submit class: 'btn btn-success' %>
	<button type="button" class="btn btn-danger" data-dismiss="modal" onclick="window.location.href='/contacts/<%= @contact.id %>/alamats'">Close</button>
  </div>
  <% end %>
</div>
