<div class="modal-body">

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %> 

<%= form_for([@contact, @alamat]) do |f| %>
  <p>
    <%= f.label :Address %><br>
    <%= f.text_field :address, required: true, minlength: 15, maxlength:30 %>
  </p>
  <div class="modal-footer">
	<%= f.submit class: 'btn btn-success' %>
	<button type="button" class="btn btn-danger" data-dismiss="modal" onclick="window.location.href='/contacts/<%= @contact.id %>/alamats'">Close</button>
  </div>
  <% end %>
</div>
