<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_tag(contact_alamats_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Address" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<%= render 'alamats/viewalamat'%>

<button type="button" class="btn btn-info" onclick="new_alamat()">Add Address</button>

<%= link_to "<button class='btn btn-danger'>Back</button>".html_safe, contacts_path , :class => 'button', :id => 'button7' %>

<div align="center">
	<%= paginate @alamats %>
</div>

<div id="show_form">

</div>

<script>
	function new_alamat(){
		$.get("<%= new_contact_alamat_path %>",{},null,"script");
	}

	function edit_alamat(id){
		$.get("/contacts/<%= @contact.id %>/alamats/"+id+"/edit",{},null,"script");
	}
</script>